body,html{
    margin: 0;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

.navbar{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#17202A;
    font-size: 20px;
    position: fixed top;
}

.navbar a{
    margin-top: 0px;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    float: right;
    
}

.navbar a.logo{
    margin-top: 0px;
    margin-bottom: -20px;
    padding-top: 10px;
    float: left;
    font-size: 25px;
    font-family: 'Contrail One', cursive;
}

.navbar a.active{
    background-color:#3498DB;
}

.navbar a:hover:not(.logo){
	background-color: #5D6D7E;
}

.content{
    background-image: url(bg.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: white;
    padding: 15px 15px;
    background-color: inherit;
	font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #5D6D7E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content{
    background-image: url(bg.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    text-align: center;
}

.content h1{
    color: white;
    margin: 0;
    font-size: 41px;
    text-shadow: 0px 0px 100px blue;
    position: absolute;
    width: 50%;
    height: 7%;
    right: 25%;
    top: 37%;
    
}

.content input{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    width: 50%;
    height: 7%;
    right: 25%;
    top: 50%;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    outline: none;
}

.content button{
    font-family: 'Oswald', sans-serif;
    background-color: #3498DB;
    color: white;
    position: absolute;
    width: 10%;
    height: 7%;
    right: 45%;
    top: 60%;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.content button:hover{
    box-shadow: 0px 8px 16px 0px rgba(231, 226, 95, 0.3);
}

.content .searchBtn span {
    position: relative;
    transition: 0.5s;
}

.content .searchBtn span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.content .searchBtn:hover span{
    padding-right: 25px;
}

.content .searchBtn:hover span:after{
    opacity: 1;
    right: 0;
}

.search-content{
    text-align: center;
    background: #e6eff4;
    height: 100%;
    overflow:auto;
}

.search-content a{
    color: black;
}

.column {
    background: #ffffff;
    float: left;
    width: 25%;
    padding: 10px;
    margin: 45px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.column:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.register-btn {
    font-family: 'Oswald', sans-serif;
    background-color: #3498DB;
    color: white; 
    font-size: 1.3em;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-btn:hover{
     background-color: #143a54;
}

.search-btn , .register-ticket-btn {
    display: block;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    background-color: #3498DB;
    color: white;
    width: 20%;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    
}

.search-btn span{
    position: relative;
    transition: 0.5s;
}

.search-btn span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.search-btn:hover span{
    padding-right: 25px;
}

.search-btn:hover span:after{
    opacity: 1;
    right: 0;
}

.search-bar{
    font-family: 'Oswald', sans-serif;
    width: 50%;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin: 20px 0px;
    outline: none;
}

.about-content{
    background-image: url(AboutUs.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.about-content a{
    text-decoration: none;
}

.card1 {
    position: absolute;
    top: 35%;
    left: 12.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 15%;
}

.card2 {
    position: absolute;
    top: 35%;
    left: 32.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 15%;
}

.card3 {
    position: absolute;
    top: 35%;
    left: 52.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 15%;
}

.card4 {
    position: absolute;
    top: 35%;
    left: 72.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 15%;
}

.about-content .profileCard div:hover:not(.container) {
    box-shadow: 0 8px 50px 0 rgba(242,242,242,0.2);
}


.container {
    padding: 2px 16px;
}

.about-content h1{
    text-align: center;
    margin: 0px;
    font-size: 2.5em;
    padding-top: 80px;
}

.event-reg-content{
    background: #e6eff4;
    padding: 60px;
    text-align: center;
}

.event-reg-content h1.h2{
    margin: 0px 50px;
}

.event-reg-content hr{
    border-style: solid;
    border-width: 3px;
    margin-bottom: 70px;
}

.event-reg-content .event-registration-form hr{
    border-style: dashed;
    width: 70%;
    border-width: 2px;
}

.event-registration-form input{
    font-family: 'Oswald', sans-serif;
    width: 50%;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin: 20px 40px;
    outline: none;
}

.event-registration-form .error{
    display: block;
    color: #f72a2a;
}

.event-registration-form .numBox, .event-container .box{
    padding: 0px 10px;
    margin: 5px;
    border:3px solid black;
}


.event-reg-content .submit-btn{
    font-family: 'Oswald', sans-serif;
    background-color: #3498DB;
    color: white; 
    font-size: 1.3em;
    width: 100%;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #143a54;
}

.event-content{
    background: #e6eff4;
    padding: 60px;
}

.event-card{
    background: #ffffff;
    width: 80%;
    padding: 10px;
    margin: auto auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
}

.event-container{
    width: 60%;
    padding: 10px;
    margin: auto auto; 
}

.event-container hr{
    border-style: dashed;
    width: 100%;
    border-width: 2px;
}

.register-ticket-btn:hover{
    background-color: #143a54;
}

.edit-btn{
    float: right;
    display: inline;
    margin: 10px auto;
    font-family: 'Oswald', sans-serif;
    background-color: #3498DB;
    color: white;
    width: 20%;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.edit-btn:hover{
    background-color: #143a54;
}













